section input{
    display: block;
   margin: auto;
   margin-bottom: 15px;
  
  
}
.titulo-trans{ 
    text-align: center;
    padding: 50px;
    font-size:30px;
   

}
.section{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-30%, -50%);
    width: 380px;
    height: 400px;
    margin-bottom: 150px;
    margin-top: 150px ;
    background-color: rgba(247, 246, 245, 0.715);
    margin-left: 100px;
    margin-right: 100px;
}

section a{
   
    font-size: 15px;
    margin: auto;
    display: flex;
  justify-content: center;
  align-items: center;
  
   
}
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3) {
    
    .section {
        width: 90%;
        height: auto;
        margin: 50px auto;
        padding: 20px;
        left: 32%;
    }

    .titulo-trans {
        padding: 30px;
        font-size: 25px;
    }

    section a {
        font-size: 12px;
    }
}
